services:
  - type: web
    name: tasty-corner
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.7
      - key: SECRET_KEY
        generateValue: true
    disk:
      name: data-disk
      mountPath: /opt/render/project/src/data
      sizeGB: 1

